body {
  overflow: hidden;
  background-color: #eee;
}
#button {
  width: 100px;
  height: 20px;
  background-color: #ddd;
  text-align: center;
  z-index: 1;
  cursor: pointer;
  cursor: hand;
}

#overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition: 0.5s;
}
#cancel-area {
  background-color: rgba(0,0,0,0.5);
  height:40px;
  width: 100vw;
}
#information {
  background-color: white;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}
.disabled {
  top: 100vh;
}
.enabled {
  top: 0;
}
